# Common values
generic-service:
  productId: HMPPS518
  nameOverride: soc-and-delius

  image:
    repository: ghcr.io/ministryofjustice/hmpps-probation-integration-services/soc-and-delius

  ingress:
    tlsSecretName: soc-and-delius-cert

  namespace_secrets:
    common:
      SPRING_DATASOURCE_URL: DB_URL
    soc-and-delius-database:
      SPRING_DATASOURCE_USERNAME: DB_USERNAME
      SPRING_DATASOURCE_PASSWORD: DB_PASSWORD
    soc-and-delius-sentry:
      SENTRY_DSN: SENTRY_DSN

generic-prometheus-alerts:
  targetApplication: soc-and-delius

