generic-service:
  ingress:
    host: prison-custody-status-to-delius-preprod.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

  env:
    SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_HMPPS-AUTH_TOKEN-URI: http://hmpps-auth.hmpps-auth-preprod.svc.cluster.local/auth/oauth/token
    SENTRY_ENVIRONMENT: preprod
    INTEGRATIONS_PRISON-API_URL: https://prison-api-preprod.prison.service.justice.gov.uk

generic-prometheus-alerts:
  businessHoursOnly: true