# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/analyse"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/app-insights-to-slack"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/check-changes"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/cloud-platform-auth"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/cloud-platform-deploy"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/create-signed-pull-request"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/docker-build"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/format-code"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/get-build-info"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/get-env-details"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/merge-changes"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/render-project-template"
    schedule:
      interval: "weekly"

  - package-ecosystem: "terraform"
    directory: "/templates"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/projects/person-search-index-from-delius/container"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/projects/redrive-dead-letter-queues/container"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/projects/feature-flags/container"
    schedule:
      interval: "weekly"
