### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Kotlin 2.0 ###
.kotlin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/**/*
!.idea/runConfigurations
!.idea/runConfigurations/**/*
!.idea/codeStyles
!.idea/codeStyles/**/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/**/*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env

### MacOS ###
.DS_Store

### Application specific ###
*.db