#  Usage:
#
#   * Perform a full load of the person-search index:
#      PIPELINES_ENABLED=person-full-load docker-compose up
#
#   * Perform a full load of the contact-search:
#      PIPELINES_ENABLED=contact-full-load docker-compose up
#
#   * Send an incremental update to the contact-search index using LocalStack / SQS:
#      PIPELINES_ENABLED=contact-incremental docker-compose up -d
#      docker-compose exec localstack awslocal sqs send-message '{"Message": "{\"sourceId\": 1}"}'
#

version: "2.4"

services:
  logstash:
    build:
      context: container
    environment:
      SEARCH_INDEX_HOST: http://elasticsearch:9200
      SQS_ENDPOINT: http://localstack:4566/
      JDBC_CONNECTION_STRING: jdbc:oracle:thin:@//oracledb:1521/XEPDB1
      JDBC_USER: delius_app_schema
      JDBC_PASSWORD: NDelius1
      PIPELINES_ENABLED: ${PIPELINES_ENABLED}
      #PIPELINES_ENABLED: person-full-load,person-incremental,person-dlq,contact-full-load,contact-incremental,contact-dlq
      PERSON_INDEX_PREFIX: person-search
      PERSON_INDEX_SCHEDULE: "* * * * *"
      PERSON_REINDEXING_TIMEOUT: 600
      PERSON_SQS_QUEUE_NAME: person-queue
      CONTACT_INDEX_PREFIX: contact-search
      CONTACT_INDEX_SCHEDULE: "* * * * *"
      CONTACT_REINDEXING_TIMEOUT: 600
      CONTACT_SQS_QUEUE_NAME: contact-queue
    ports:
      - "9600:9600"
    depends_on:
      oracledb:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      localstack:
        condition: service_healthy
    networks:
      - shared

  oracledb:
    image: 895523100917.dkr.ecr.eu-west-2.amazonaws.com/hmpps/delius-test-db
    healthcheck:
      test: lsnrctl status | grep -q 'Service "xepdb1" has 1 instance(s).'
    ports:
      - "1521:1521"
    networks:
      - shared

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    healthcheck:
      test: curl -f localhost:9200
    environment:
      discovery.type: single-node
      ELASTIC_PASSWORD: elastic
    ports:
      - "9200:9200"
    networks:
      - shared

  localstack:
    image: localstack/localstack:1.4
    healthcheck:
      test: awslocal sqs list-queues
    environment:
      LS_LOG: warn
      SERVICES: sqs
      DEFAULT_REGION: eu-west-2
    ports:
      - "4566:4566"
    volumes:
      - "./localstack:/docker-entrypoint-initaws.d"
    networks:
      - shared

networks:
  shared:
