generic-service:
  ingress:
    host: manage-offences-and-delius.hmpps.service.justice.gov.uk

  env:
    SENTRY_ENVIRONMENT: prod
    SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_HMPPS-AUTH_TOKEN-URI: http://hmpps-auth.hmpps-auth-prod.svc.cluster.local/auth/oauth/token
    INTEGRATIONS_MANAGE-OFFENCES_URL: https://manage-offences-api.hmpps.service.justice.gov.uk
