# Default config
spring:
  jackson:
    default-property-inclusion: non_null
  jpa:
    hibernate.ddl-auto: none # TODO revert to "validate" once "assessment-summary_update-risk-registrations-in-place" feature is enabled in production (planned for 12/12/2025)
    properties:
      hibernate:
        timezone.default_storage: NORMALIZE
        query.mutation_strategy: org.hibernate.query.sqm.mutation.internal.inline.InlineMutationStrategy
        query.mutation_strategy.persistent:
            create_tables: false
            drop_tables: false
        query.mutation_strategy.global_temporary:
            create_tables: false
            drop_tables: false
  security.oauth2.client:
    registration:
      default:
        provider: oasys-ords-auth
        authorization-grant-type: client_credentials
        client-id: ${integrations.ords.client-id}
        client-secret: ${integrations.ords.client-secret}
    provider:
      oasys-ords-auth:
        token-uri: ${integrations.ords.url}/oauth/token
  threads.virtual.enabled: true

delius.db.username: AssessmentSummaryAndDelius # Should match value in [deploy/database/access.yml].

management:
  endpoints.web:
    base-path: /
    exposure.include: [ "health", "info" ]
  endpoint.health.show-details: always

info.productId: HMPPS518 # https://developer-portal.hmpps.service.justice.gov.uk/products/probation-integration-services-1


---
# Shared dev/test config
spring.config.activate.on-profile: [ "dev", "integration-test" ]
server.shutdown: immediate

spring:
  datasource.url: jdbc:h2:file:./dev;MODE=Oracle;DEFAULT_NULL_ORDERING=HIGH;AUTO_SERVER=true;AUTO_SERVER_PORT=9092
  jpa.hibernate.ddl-auto: create-drop

dev:
  dataloader.enabled: true
  wiremock.enabled: true

messaging.consumer.queue: message-queue
messaging.consumer.detail.urls: http://localhost:${dev.wiremock.port}

integrations:
  ords:
    url: http://localhost:${dev.wiremock.port}/eor/oasys
    client-id: assessment-summary-and-delius
    client-secret: assessment-summary-and-delius

logging.level:
  uk.gov.justice.digital.hmpps: DEBUG
  org.hibernate.tool.schema: ERROR

---
spring.config.activate.on-profile: integration-test
spring.datasource.url: jdbc:h2:mem:./test;MODE=Oracle;DEFAULT_NULL_ORDERING=HIGH

---
spring.config.activate.on-profile: oracle
spring:
  datasource.url: 'jdbc:tc:oracle:slim-faststart:///XEPDB1'
  jpa.hibernate.ddl-auto: create

---
spring.config.activate.on-profile: delius-db
spring:
  datasource:
    url: 'jdbc:oracle:thin:@//localhost:1521/XEPDB1'
    username: delius_pool
    password: NDelius1
  jpa.hibernate.ddl-auto: validate
dev.dataloader.enabled: false
delius.db.username: NationalUser

---
spring.config.activate.on-profile: localstack
spring.cloud.aws:
  sqs.endpoint: http://localhost:4566
  sns.endpoint: http://localhost:4566
  credentials:
    access-key: localstack
    secret-key: localstack
