---
title: AsyncAPI Reference
source_url: 'https://github.com/ministryofjustice/hmpps-probation-integration-services/blob/main/projects/pre-sentence-reports-to-delius/tech-docs/source/async-api-reference.html.md.erb'
weight: 30
---

<h1>ASyncAPI</h1>

* [ASyncAPI Spec](https://studio.asyncapi.com/?url=https://raw.githubusercontent.com/ministryofjustice/hmpps-probation-integration-services/main/projects/pre-sentence-reports-to-delius/tech-docs/spec/async-api.yaml&readOnly)
