# Common values
generic-service:
  productId: HMPPS518
  nameOverride: sentence-plan-and-oasys

  image:
    repository: ghcr.io/ministryofjustice/hmpps-probation-integration-services/sentence-plan-and-oasys

  ingress:
    tlsSecretName: sentence-plan-and-oasys-cert

  namespace_secrets:
    sentence-plan-and-oasys-sentry:
      SENTRY_DSN: SENTRY_DSN

generic-prometheus-alerts:
  targetApplication: sentence-plan-and-oasys

