generic-service:
  productId: HMPPS518
  nameOverride: custody-key-dates-and-delius
  serviceAccountName: custody-key-dates-and-delius

  image:
    repository: ghcr.io/ministryofjustice/hmpps-probation-integration-services/custody-key-dates-and-delius

  ingress:
    tlsSecretName: custody-key-dates-and-delius-cert

  namespace_secrets:
    common:
       SPRING_DATASOURCE_URL: DB_URL
    custody-key-dates-and-delius-client-credentials:
      OAUTH2_CLIENT-ID: CLIENT_ID
      OAUTH2_CLIENT-SECRET: CLIENT_SECRET
    custody-key-dates-and-delius-database:
      SPRING_DATASOURCE_USERNAME: DB_USERNAME
      SPRING_DATASOURCE_PASSWORD: DB_PASSWORD
    custody-key-dates-and-delius-sentry:
      SENTRY_DSN: SENTRY_DSN
    custody-key-dates-and-delius-queue:
      MESSAGING_CONSUMER_QUEUE: QUEUE_NAME

generic-prometheus-alerts:
  targetApplication: custody-key-dates-and-delius
