---
title: API Reference
source_url: 'https://github.com/ministryofjustice/hmpps-probation-integration-services/blob/main/projects/manage-pom-cases-and-delius/tech-docs/source/api-reference.html.md.erb'
weight: 20
---

<header id="api" class="anchored-heading govuk-heading-xl" style="padding-top: 30px">
    <a href="#api" class="anchored-heading__icon" aria-hidden="true" tabindex="-1"></a>
    API Reference <strong class="govuk-tag govuk-tag--blue">DRAFT</strong>
</header>

<style>.technical-documentation > h1 { display: none !important }</style>

> You can also view this document in the [Swagger Editor](https://editor.swagger.io/?url=https://raw.githubusercontent.com/ministryofjustice/hmpps-probation-integration-services/PI-577-mrd-api/projects/make-recall-decisions-and-delius/tech-docs/source/draft-api-spec.yaml).

---

api>
