# Common values
generic-service:
  productId: HMPPS518
  nameOverride: $SERVICE_NAME
  serviceAccountName: $SERVICE_NAME

  image:
    repository: ghcr.io/ministryofjustice/hmpps-probation-integration-services/$SERVICE_NAME

  ingress:
    tlsSecretName: $SERVICE_NAME-cert

  namespace_secrets:
    common:
      SPRING_DATASOURCE_URL: DB_URL
    $SERVICE_NAME-database:
      SPRING_DATASOURCE_USERNAME: DB_USERNAME
      SPRING_DATASOURCE_PASSWORD: DB_PASSWORD
    $SERVICE_NAME-sentry:
      SENTRY_DSN: SENTRY_DSN
    $SERVICE_NAME-queue:
      MESSAGING_CONSUMER_QUEUE: QUEUE_NAME

generic-prometheus-alerts:
  targetApplication: $SERVICE_NAME

