---
title: API Reference
source_url: 'https://github.com/ministryofjustice/hmpps-probation-integration-services/blob/main/projects/external-api-and-delius/tech-docs/source/api-reference.html.md.erb'
weight: 20
---

<header id="api" class="anchored-heading govuk-heading-xl" style="padding-top: 30px">
    <a href="#api" class="anchored-heading__icon" aria-hidden="true" tabindex="-1"></a>
    API Reference
</header>
<style>.technical-documentation > h1 { display: none !important }</style>

The following documentation is also available in these formats:

* [OpenAPI YAML](https://raw.githubusercontent.com/ministryofjustice/hmpps-probation-integration-services/main/projects/external-api-and-delius/tech-docs/source/draft-api-spec.yaml)
* [Swagger UI](https://editor.swagger.io/?url=https://raw.githubusercontent.com/ministryofjustice/hmpps-probation-integration-services/main/projects/external-api-and-delius/tech-docs/source/draft-api-spec.yaml)

api>
