generic-service:
  productId: HMPPS518
  nameOverride: domain-events-and-delius
  serviceAccountName: domain-events-and-delius
  replicaCount: 1

  image:
    repository: ghcr.io/ministryofjustice/hmpps-probation-integration-services/domain-events-and-delius

  ingress:
    tlsSecretName: domain-events-and-delius-cert

  namespace_secrets:
    common:
      SPRING_DATASOURCE_URL: DB_URL
    domain-events-and-delius-database:
      SPRING_DATASOURCE_USERNAME: DB_USERNAME
      SPRING_DATASOURCE_PASSWORD: DB_PASSWORD
    domain-events-and-delius-sentry:
      SENTRY_DSN: SENTRY_DSN
    hmpps-domain-events-topic:
      MESSAGING_PRODUCER_TOPIC: topic_arn

generic-prometheus-alerts:
  targetApplication: domain-events-and-delius
