server.shutdown: graceful

management:
  endpoints.web:
    base-path: /
    exposure.include: [ "health", "info" ]
  endpoint.health.show-details: always

info.productId: HMPPS518 # https://developer-portal.hmpps.service.justice.gov.uk/products/185
