whenever sqlerror exit failure
set feed off serveroutput on

declare
    l_username varchar2(255) := '{{ username }}';
    l_password varchar2(255) := '{{ password }}';
begin
    execute immediate 'alter user ' || l_username || ' account unlock';
    execute immediate 'alter user ' || l_username || ' identified by "' || l_password || '"';
end;
/
exit