# Default config
spring:
  jackson:
    default-property-inclusion: non_null
  jpa:
    hibernate.ddl-auto: validate
    properties:
      hibernate:
        timezone.default_storage: NORMALIZE
        query.mutation_strategy: org.hibernate.query.sqm.mutation.internal.inline.InlineMutationStrategy
        query.mutation_strategy.persistent:
            create_tables: false
            drop_tables: false
        query.mutation_strategy.global_temporary:
            create_tables: false
            drop_tables: false
  ldap:
    base: ou=Users,dc=moj,dc=com
    base-environment:
      java.naming.ldap.derefAliases: never
  threads.virtual.enabled: true

oauth2.roles:
  - PROBATION_API__PRISONER_PROFILE__CASE_DETAIL

springdoc.default-produces-media-type: application/json

delius.db.username: PrisonerProfileAndDelius # Should match value in [deploy/database/access.yml].

integrations.alfresco.url: http://localhost:${wiremock.port}/alfresco

management:
  endpoints.web:
    base-path: /
    exposure.include: [ "health", "info" ]
  endpoint.health.show-details: always

info.productId: HMPPS518 # https://developer-portal.hmpps.service.justice.gov.uk/products/185

---
# Shared dev/test config
spring.config.activate.on-profile: [ "dev", "integration-test" ]
server.shutdown: immediate

spring:
  datasource.url: jdbc:h2:file:./dev;MODE=Oracle;DEFAULT_NULL_ORDERING=HIGH;AUTO_SERVER=true;AUTO_SERVER_PORT=9092
  jpa.hibernate.ddl-auto: create-drop
  ldap.embedded.base-dn: ${spring.ldap.base}

seed.database: true
wiremock.enabled: true

logging.level:
  uk.gov.justice.digital.hmpps: DEBUG
  org.hibernate.tool.schema: ERROR
  org.apache.activemq: WARN

---
spring.config.activate.on-profile: integration-test
spring.datasource.url: jdbc:h2:mem:./test;MODE=Oracle;DEFAULT_NULL_ORDERING=HIGH

---
spring.config.activate.on-profile: oracle
spring:
  datasource.url: 'jdbc:tc:oracle:slim-faststart:///XEPDB1'
  jpa.hibernate.ddl-auto: create

---
spring.config.activate.on-profile: delius-db
spring:
  datasource:
    url: 'jdbc:oracle:thin:@//localhost:1521/XEPDB1'
    username: delius_pool
    password: NDelius1
  jpa.hibernate.ddl-auto: validate
seed.database: false
delius.db.username: NationalUser
