generic-service:
  ingress:
    host: person-search-index-from-delius.hmpps.service.justice.gov.uk

  env:
    SENTRY_ENVIRONMENT: prod
    SAGEMAKER_ENDPOINT_NAME: hmpps-probation-search-prod-sagemaker-endpoint

  namespace_secrets:
    common:
      # In production, only a single standby DB is readable during normal operation, due to availability of Active Data
      # Guard licences. This standby DB is different to the one used while Delius is in read-only mode (DB_STANDBY_URL).
      JDBC_CONNECTION_STRING: DB_STANDBY_2_URL

reindexing:
  person_schedule: 0 3 * * 1-5
  contact_schedule: 0 7 * * 2
  sentry_environment: prod
