# Default config
server.shutdown: graceful
spring:
  mvc.async.request-timeout: 5m # for report download
  jackson:
    default-property-inclusion: non_null
  jpa:
    hibernate.ddl-auto: validate
    database-platform: org.hibernate.dialect.OracleDialect
    properties:
      hibernate:
        timezone.default_storage: NORMALIZE
        query.mutation_strategy: org.hibernate.query.sqm.mutation.internal.inline.InlineMutationStrategy
        query.mutation_strategy.persistent:
            create_tables: false
            drop_tables: false
        query.mutation_strategy.global_temporary:
            create_tables: false
            drop_tables: false
  ldap:
    base: ou=Users,dc=moj,dc=com
    base-environment:
      java.naming.ldap.derefAliases: never
  security.oauth2.client:
    registration:
      default:
        provider: hmpps-auth
        authorization-grant-type: client_credentials
        client-id: ${integrations.workforce-allocations.client-id}
        client-secret: ${integrations.workforce-allocations.client-secret}
    provider:
      hmpps-auth:
        token-uri: http://localhost:${wiremock.port}/auth/oauth/token
  threads.virtual.enabled: true

oauth2.roles:
  - PROBATION_API__WORKFORCE_ALLOCATIONS__CASE_DETAIL

springdoc.default-produces-media-type: application/json

delius.db.username: HMPPSAllocations

management:
  endpoints.web:
    base-path: /
    exposure.include: [ "health", "info" ]
  endpoint.health.show-details: always

info.productId: HMPPS518 # https://developer-portal.hmpps.service.justice.gov.uk/products/185


---
# Shared dev/test config
spring.config.activate.on-profile: [ "dev", "integration-test" ]
server.shutdown: immediate

spring:
  datasource.url: jdbc:h2:file:./dev;MODE=Oracle;DEFAULT_NULL_ORDERING=HIGH;AUTO_SERVER=true;AUTO_SERVER_PORT=9092
  jpa.hibernate.ddl-auto: create-drop
  ldap.embedded.base-dn: ${spring.ldap.base}

seed.database: true
context.initializer.classes: uk.gov.justice.digital.hmpps.wiremock.WireMockInitialiser

messaging.consumer.queue: workforce-allocations-events

integrations:
  workforce-allocations:
    url: http://localhost:${wiremock.port}
    client-id: workforce-allocations-to-delius
    client-secret: workforce-allocations-to-delius
  alfresco:
    url: https://hmpps-delius-alfresco-test.apps.live.cloud-platform.service.justice.gov.uk/alfresco/service/noms-spg

logging.level:
  uk.gov.justice.digital.hmpps: DEBUG
  org.hibernate.tool.schema: ERROR
  org.apache.activemq: WARN

---
spring.config.activate.on-profile: dev


---
spring.config.activate.on-profile: integration-test
spring.datasource.url: jdbc:h2:mem:./test;MODE=Oracle;DEFAULT_NULL_ORDERING=HIGH;DB_CLOSE_ON_EXIT=FALSE

---
spring.config.activate.on-profile: oracle
spring.datasource.url: 'jdbc:tc:oracle:slim-faststart:///XEPDB1'

---
spring.config.activate.on-profile: delius-db
spring:
  datasource:
    url: 'jdbc:oracle:thin:@//localhost:1521/XEPDB1'
    username: delius_pool
    password: NDelius1
  jpa.hibernate.ddl-auto: validate
seed.database: false
delius.db.username: NationalUser

---
spring.config.activate.on-profile: localstack
spring.cloud.aws:
  sqs.endpoint: http://localhost:4566
  sns.endpoint: http://localhost:4566
  credentials:
    access-key: localstack
    secret-key: localstack
