---
title: Integration Services
source_url: 'https://github.com/ministryofjustice/hmpps-probation-integration-services/blob/main/doc/tech-docs/source/projects/index.html.md.erb'
weight: 20
last_reviewed_on: 2025-06-24
review_in: 6 months
---

# Integration Services

## Accommodation Services

* [Approved Premises And Delius](approved-premises-and-delius)
* [Approved Premises And OASys](approved-premises-and-oasys)
* [CAS2 And Delius](cas2-and-delius)
* [CAS3 And Delius](cas3-and-delius)

## Probation in Court
* [Court Case And Delius](court-case-and-delius)
* [Effective Proposal Framework And Delius](effective-proposal-framework-and-delius)
* [Pre-Sentence Reports To Delius](pre-sentence-reports-to-delius)

## Leaving Prison / Entering Probation
* [Create And Vary A Licence And Delius](create-and-vary-a-licence-and-delius)
* [Manage POM Cases And Delius](manage-pom-cases-and-delius)
* [Resettlement Passport And Delius](resettlement-passport-and-delius)
* [Prison Education And Delius](prison-education-and-delius)
* [HDC Licences And Delius](hdc-licences-and-delius)

## Custody Information
* [Custody Key Dates And Delius](custody-key-dates-and-delius)
* [Prison Case Notes To Probation](prison-case-notes-to-probation)
* [Prison Custody Status To Delius](prison-custody-status-to-delius)
* [DPS And Delius](dps-and-delius)
* [Prison Identifier And Delius](prison-identifier-and-delius)

## Public Protection
* [Make Recall Decisions And Delius](make-recall-decisions-and-delius)

## Crime Prevention
* [Pathfinder And Delius](pathfinder-and-delius)
* [SOC And Delius](soc-and-delius)

## Interventions
* [Refer And Monitor And Delius](refer-and-monitor-and-delius)

## Assessments
* [Risk Assessment Scores To Delius](risk-assessment-scores-to-delius)
* [OPD And Delius](opd-and-delius)
* [ARNS And Delius](arns-and-delius)
* [Assessment Summary And Delius](assessment-summary-and-delius)

## Sentence Management
* [Manage Supervision And Delius](manage-supervision-and-delius)
* [Sentence Plan And Delius](sentence-plan-and-delius)
* [Sentence Plan And Oasys](sentence-plan-and-oasys)
* [Appointment Reminders And Delius](appointment-reminders-and-delius)

## Workforce Management
* [Tier To Delius](tier-to-delius)
* [Unpaid Work And Delius](unpaid-work-and-delius)
* [Workforce Allocations To Delius](workforce-allocations-to-delius)

## Reference Data Management
* [Manage Offences And Delius](manage-offences-and-delius)

## HMPPS Technical Environment
* [Person Search Index From Delius](person-search-index-from-delius)
* [Probation Search And Delius](probation-search-and-delius)
* [Domain Events And Delius](domain-events-and-delius)
* [Offender Events And Delius](offender-events-and-delius)
* [HMPPS Auth And Delius](hmpps-auth-and-delius)

## External Integration
* [External API And Delius](external-api-and-delius)

## New/Unclassified Services

* [Prisoner Profile And Delius](prisoner-profile-and-delius)
* [Accredited Programmes And Oasys](accredited-programmes-and-oasys)
* [Oasys And Delius](oasys-and-delius)
* [Core Person Record And Delius](core-person-record-and-delius)
* [Subject Access Requests And Delius](subject-access-requests-and-delius)
* [Common Platform And Delius](common-platform-and-delius)
* [Ims And Delius](ims-and-delius)
* [Justice Email And Delius](justice-email-and-delius)
* [Assess For Early Release And Delius](assess-for-early-release-and-delius)
* [Breach Notice And Delius](breach-notice-and-delius)
* [Jitbit And Delius](jitbit-and-delius)
* [Find And Refer And Delius](find-and-refer-and-delius)
<li style="display: none">^ add new projects here</li>
