---
title: About
source_url: 'https://github.com/ministryofjustice/hmpps-probation-integration-services/blob/main/doc/tech-docs/source/index.html.md.erb'
last_reviewed_on: 2025-06-24
review_in: 4 months
---

# Probation Integration Sevices

## About

A collection of small, domain-focused integrations to support HMPPS Digital services that need to interact with
probation data. Typically, these integration services will perform translations between HMPPS and Delius domain
concepts, and are responsible for:

* Publishing REST endpoints to read existing data from the Delius database
* Listening for HMPPS Domain Event messages and writing data into the Delius database

## Integration Services

### Accommodation Services

* [Approved Premises And Delius](projects/approved-premises-and-delius/about.html)
* [Approved Premises And OASys](projects/approved-premises-and-oasys/about.html)
* [CAS2 And Delius](projects/cas2-and-delius/about.html)
* [CAS3 And Delius](projects/cas3-and-delius/about.html)

### Probation in Court
* [Court Case And Delius](projects/court-case-and-delius/about.html)
* [Effective Proposal Framework And Delius](projects/effective-proposal-framework-and-delius/about.html)
* [Pre-Sentence Reports To Delius](projects/pre-sentence-reports-to-delius/about.html)

### Leaving Prison / Entering Probation
* [Create And Vary A Licence And Delius](projects/create-and-vary-a-licence-and-delius/about.html)
* [Manage POM Cases And Delius](projects/manage-pom-cases-and-delius/about.html)
* [Resettlement Passport And Delius](projects/resettlement-passport-and-delius/about.html)
* [Prison Education And Delius](projects/prison-education-and-delius/about.html)
* [HDC Licences And Delius](projects/hdc-licences-and-delius/about.html)

### Custody Information
* [Custody Key Dates And Delius](projects/custody-key-dates-and-delius/about.html)
* [Prison Case Notes To Probation](projects/prison-case-notes-to-probation/about.html)
* [Prison Custody Status To Delius](projects/prison-custody-status-to-delius/about.html)
* [DPS And Delius](projects/dps-and-delius/about.html)
* [Prison Identifier And Delius](projects/prison-identifier-and-delius/about.html)

### Public Protection
* [Make Recall Decisions And Delius](projects/make-recall-decisions-and-delius/about.html)

### Crime Prevention
* [Pathfinder And Delius](projects/pathfinder-and-delius/about.html)
* [SOC And Delius](projects/soc-and-delius/about.html)

### Interventions
* [Refer And Monitor And Delius](projects/refer-and-monitor-and-delius/about.html)

### Assessments
* [Risk Assessment Scores To Delius](projects/risk-assessment-scores-to-delius/about.html)
* [OPD And Delius](projects/opd-and-delius/about.html)
* [ARNS And Delius](projects/arns-and-delius/about.html)
* [Assessment Summary And Delius](projects/assessment-summary-and-delius/about.html)

### Sentence Management
* [Manage Supervision And Delius](projects/manage-supervision-and-delius/about.html)
* [Sentence Plan And Delius](projects/sentence-plan-and-delius/about.html)
* [Sentence Plan And Oasys](projects/sentence-plan-and-oasys/about.html)
* [Appointment Reminders And Delius](projects/appointment-reminders-and-delius/about.html)

### Workforce Management
* [Tier To Delius](projects/tier-to-delius/about.html)
* [Unpaid Work And Delius](projects/unpaid-work-and-delius/about.html)
* [Workforce Allocations To Delius](projects/workforce-allocations-to-delius/about.html)

### Reference Data Management
* [Manage Offences And Delius](projects/manage-offences-and-delius/about.html)

### HMPPS Technical Environment
* [Person Search Index From Delius](projects/person-search-index-from-delius/about.html)
* [Probation Search And Delius](projects/probation-search-and-delius/about.html)
* [Domain Events And Delius](projects/domain-events-and-delius/about.html)
* [Offender Events And Delius](projects/offender-events-and-delius/about.html)
* [HMPPS Auth And Delius](projects/hmpps-auth-and-delius/about.html)

### External Integration
* [External API And Delius](projects/external-api-and-delius/about.html)

### New/Unclassified Services

* [Prisoner Profile And Delius](projects/prisoner-profile-and-delius/about.html)
* [Accredited Programmes And Oasys](projects/accredited-programmes-and-oasys/about.html)
* [Oasys And Delius](projects/oasys-and-delius/about.html)
* [Core Person Record And Delius](projects/core-person-record-and-delius/about.html)
* [Subject Access Requests And Delius](projects/subject-access-requests-and-delius/about.html)
* [Common Platform And Delius](projects/common-platform-and-delius/about.html)
* [Ims And Delius](projects/ims-and-delius/about.html)
* [Justice Email And Delius](projects/justice-email-and-delius/about.html)
* [Assess For Early Release And Delius](projects/assess-for-early-release-and-delius/about.html)
* [Breach Notice And Delius](projects/breach-notice-and-delius/about.html)
* [Jitbit And Delius](projects/jitbit-and-delius/about.html)
* [Find And Refer And Delius](projects/find-and-refer-and-delius/about.html)
* [Accredited Programmes And Delius](projects/accredited-programmes-and-delius/about.html)
* [Suicide Risk Form And Delius](projects/suicide-risk-form-and-delius/about.html)
* [Esupervision And Delius](projects/esupervision-and-delius/about.html)
* [Community Payback And Delius](projects/community-payback-and-delius/about.html)
<li style="display: none">^ add new projects here</li>

## Help

* [How-To Guides](guides.html)
* [Probation System Concepts](concepts.html)

## Support

You can find more detailed technical information on our [Confluence pages](https://dsdmoj.atlassian.net/wiki/spaces/PINT).

### Status

Service uptime information is available on the [Pingdom status page](https://my.pingdom.com/app/reports/uptime#check=12036442).

Any live incidents will typically be dealt with and communicated over [Slack](https://mojdt.slack.com).
Incident reviews are posted on [Confluence](https://dsdmoj.atlassian.net/wiki/spaces/PINT/pages/4069851224/Incident+Reviews).

### Contact us

For any other questions, feel free to get in touch with us by:

- Dropping a message on our [Slack channel](https://mojdt.slack.com/archives/C02HQ4M2YQN),
- Sending us an [Email](mailto:probation-integration-team@digital.justice.gov.uk), or
- Creating a [GitHub issue](https://github.com/ministryofjustice/hmpps-probation-integration-services/issues/new) in our repository
