---
title: About
source_url: 'https://github.com/ministryofjustice/hmpps-probation-integration-services/blob/main/doc/tech-docs/source/index.html.md.erb'
weight: 10
---

# About

A collection of small, domain-focused integrations to support HMPPS Digital services that need to interact with
probation data. Typically, these integration services will perform translations between HMPPS and Delius domain
concepts, and are responsible for:

* publishing REST endpoints to read existing data from the Delius database
* listening for HMPPS Domain Event messages and writing data into the Delius database

## Services

Follow these links to find out more about each of our integration services.

* [Approved Premises And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/approved-premises-and-delius)
* [Approved Premises And OASys](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/approved-premises-and-oasys)
* [Court Case And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/court-case-and-delius)
* [Create And Vary A Licence And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/create-and-vary-a-licence-and-delius)
* [Custody Key Dates And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/custody-key-dates-and-delius)
* [Domain Events And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/domain-events-and-delius)
* [Effective Proposal Framework And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/effective-proposal-framework-and-delius)
* [Make Recall Decisions And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/make-recall-decisions-and-delius)
* [Manage POM Cases And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/manage-pom-cases-and-delius)
* [Offender Events And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/offender-events-and-delius)
* [Pathfinder And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/pathfinder-and-delius)
* [Person Search Index From Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/person-search-index-from-delius)
* [Pre-Sentence Reports To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/pre-sentence-reports-to-delius)
* [Prison Case Notes To Probation](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prison-case-notes-to-probation)
* [Prison Custody Status To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prison-custody-status-to-delius)
* [Refer And Monitor And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/refer-and-monitor-and-delius)
* [Risk Assessment Scores To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/risk-assessment-scores-to-delius)
* [Sentence Plan And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/sentence-plan-and-delius)
* [Sentence Plan And Oasys](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/sentence-plan-and-oasys)
* [Soc And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/soc-and-delius)
* [Tier To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/tier-to-delius)
* [Unpaid Work And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/unpaid-work-and-delius)
* [Workforce Allocations To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/workforce-allocations-to-delius)
* [External Api And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/external-api-and-delius)
* [Manage Offences And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/manage-offences-and-delius)
* [Resettlement Passport And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/resettlement-passport-and-delius)
* [Prison Education And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prison-education-and-delius)
* [Opd And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/opd-and-delius)
* [Hmpps Auth And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/hmpps-auth-and-delius)
* [Dps And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/dps-and-delius)
<li style="display: none">^ add new projects here</li>

