---
title: Integration Services
source_url: 'https://github.com/ministryofjustice/hmpps-probation-integration-services/blob/main/doc/tech-docs/source/services.html.md.erb'
weight: 20
---

# Integration Services

## Accommodation Services

* [Approved Premises And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/approved-premises-and-delius)
* [Approved Premises And OASys](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/approved-premises-and-oasys)
* [CAS2 And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/cas2-and-delius)
* [CAS3 And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/cas3-and-delius)

## Probation in Court
* [Court Case And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/court-case-and-delius)
* [Effective Proposal Framework And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/effective-proposal-framework-and-delius)
* [Pre-Sentence Reports To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/pre-sentence-reports-to-delius)

## Leaving Prison / Entering Probation
* [Create And Vary A Licence And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/create-and-vary-a-licence-and-delius)
* [Manage POM Cases And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/manage-pom-cases-and-delius)
* [Resettlement Passport And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/resettlement-passport-and-delius)
* [Prison Education And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prison-education-and-delius)
* [HDC Licences And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/hdc-licences-and-delius)

## Custody Information
* [Custody Key Dates And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/custody-key-dates-and-delius)
* [Prison Case Notes To Probation](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prison-case-notes-to-probation)
* [Prison Custody Status To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prison-custody-status-to-delius)
* [DPS And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/dps-and-delius)


## Public Protection
* [Make Recall Decisions And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/make-recall-decisions-and-delius)

## Crime Prevention
* [Pathfinder And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/pathfinder-and-delius)
* [SOC And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/soc-and-delius)

## Interventions
* [Refer And Monitor And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/refer-and-monitor-and-delius)

## Risk Assessments
* [Risk Assessment Scores To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/risk-assessment-scores-to-delius)
* [OPD And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/opd-and-delius)
* [ARNS And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/arns-and-delius)

## Sentence Planning
* [Sentence Plan And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/sentence-plan-and-delius)
* [Sentence Plan And Oasys](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/sentence-plan-and-oasys)

## Workforce Management
* [Tier To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/tier-to-delius)
* [Unpaid Work And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/unpaid-work-and-delius)
* [Workforce Allocations To Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/workforce-allocations-to-delius)

## Reference Data Management
* [Manage Offences And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/manage-offences-and-delius)

## HMPPS Technical Environment
* [Person Search Index From Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/person-search-index-from-delius)
* [Domain Events And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/domain-events-and-delius)
* [Offender Events And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/offender-events-and-delius)
* [HMPPS Auth And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/hmpps-auth-and-delius)

## External Integration
* [External API And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/external-api-and-delius)


## New/Unclassified Services

* [Prisoner Profile And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prisoner-profile-and-delius)
* [Prison Identifier And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/prison-identifier-and-delius)
* [Assessment Summary And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/assessment-summary-and-delius)
* [Accredited Programmes And Oasys](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/accredited-programmes-and-oasys)
* [Manage Supervision And Oasys](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/manage-supervision-and-oasys)
* [Manage Supervision And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/manage-supervision-and-delius)
* [Oasys And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/oasys-and-delius)
* [Probation Search And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/probation-search-and-delius)
* [Core Person Record And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/core-person-record-and-delius)
* [Subject Access Requests And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/subject-access-requests-and-delius)
* [Common Platform And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/common-platform-and-delius)
* [Ims And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/ims-and-delius)
* [Appointment Reminders And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/appointment-reminders-and-delius)
* [Justice Email And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/justice-email-and-delius)
* [Justice Email And Delius](https://ministryofjustice.github.io/hmpps-probation-integration-services/tech-docs/projects/justice-email-and-delius)
<li style="display: none">^ add new projects here</li>
