generic-service:
  productId: HMPPS518
  nameOverride: pre-sentence-reports-to-delius
  serviceAccountName: pre-sentence-reports-to-delius

  image:
    repository: ghcr.io/ministryofjustice/hmpps-probation-integration-services/pre-sentence-reports-to-delius

  ingress:
    tlsSecretName: pre-sentence-reports-to-delius-cert

  namespace_secrets:
    common:
      SPRING_DATASOURCE_URL: DB_URL
    pre-sentence-reports-to-delius-client-credentials:
      INTEGRATIONS_PRE-SENTENCE-REPORTS_CLIENT-ID: CLIENT_ID
      INTEGRATIONS_PRE-SENTENCE-REPORTS_CLIENT-SECRET: CLIENT_SECRET
    pre-sentence-reports-to-delius-database:
      SPRING_DATASOURCE_USERNAME: DB_USERNAME
      SPRING_DATASOURCE_PASSWORD: DB_PASSWORD
    pre-sentence-reports-to-delius-sentry:
      SENTRY_DSN: SENTRY_DSN
    pre-sentence-reports-to-delius-queue:
      MESSAGING_CONSUMER_QUEUE: QUEUE_NAME
    pre-sentence-reports-to-delius-newtech:
      INTEGRATIONS_NEW-TECH_SECRET: NEWTECH_SECRET

generic-prometheus-alerts:
  targetApplication: pre-sentence-reports-to-delius

