generic-service:
  ingress:
    host: appointment-reminders-and-delius.hmpps.service.justice.gov.uk

  env:
    SENTRY_ENVIRONMENT: prod
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: https://sign-in.hmpps.service.justice.gov.uk/auth/.well-known/jwks.json
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: https://sign-in.hmpps.service.justice.gov.uk/auth/issuer

jobs:
  unpaid-work-appointment-reminders:
    east-midlands:
      apiKeySecret: N53_API_KEY
      templates:
        - 5dd8e146-b4cf-46eb-9716-6ee132b3da3c
    east-of-england:
      apiKeySecret: N56_API_KEY
      templates:
        - 179d106d-fc99-45af-9d04-22716cdf5e50
      trials:
        - templates:
            - a2b6406f-5054-44e6-8fce-452482d4ceee # UPW Trial - Loss Aversion
        - templates:
            - 05943d0d-0a24-40cb-abb2-bb1d8338c900 # UPW Trial - Planning
        - templates:
            - 508bc0f3-48bb-4562-abf9-9fe41c4606ed # UPW Trial - Prosocial
        - templates:
            - 1e21a0ae-1bc3-4cb0-bc9e-b7dcf62d2b52 # UPW Trial - Social Norms
    greater-manchester:
      apiKeySecret: N50_API_KEY
      templates:
        - a4f1fe36-4d0b-4462-b943-259bc0d6444d
    london:
      apiKeySecret: N07_API_KEY
      templates:
        - 2a1fac8c-5ce5-4702-9165-0dc56fd8f103
    kent-surrey-sussex:
      apiKeySecret: N57_API_KEY
      templates:
        - a7c9be1e-1050-4d44-bf5f-77c19e00f5e2
    north-east:
      apiKeySecret: N54_API_KEY
      templates:
        - 3a1c03a7-c0bf-4b5b-ab49-41ef5f2802bf
    north-west:
      apiKeySecret: N51_API_KEY
      templates:
        - 1c7060f4-8032-488c-bcc9-ade061a515a6
    south-central:
      apiKeySecret: N59_API_KEY
      templates:
        - e4fedc8b-b9de-4e05-ba20-0c052022625a
    south-west:
      apiKeySecret: N58_API_KEY
      templates:
        - 4a5062b4-8c13-4f62-bec9-cf4e17f0862a
    wales:
      apiKeySecret: N03_API_KEY
      templates:
        - ed494c8b-5a6f-40d1-8cef-18775bc852f9 # English
        - cec099f5-2854-4930-a513-dbcb9e39a537 # Welsh
    west-midlands:
      apiKeySecret: N52_API_KEY
      templates:
        - a2134b29-27a5-4b1d-b043-aeb079c1088d
      trials:
        - templates:
            - c6599cc2-780b-480b-9bd7-885ed12a1b7c # UPW Trial - Loss Aversion
        - templates:
            - 10b78524-d777-4762-aedb-39120d2a84fd # UPW Trial - Planning
        - templates:
            - dae568ea-1f84-4381-977c-03f47465f279 # UPW Trial - Prosocial
        - templates:
            - 3dc42b0d-cfeb-4a87-a8b2-42e2be0f7faa # UPW Trial - Social Norms
    yorkshire-humber:
      apiKeySecret: N55_API_KEY
      templates:
        - fd90ef8c-08bd-4be6-8512-9fe480028b1f
