name: Cleanup
# Delete old reports from GitHub Pages, and delete unused images from GitHub Container Registry
# Note: deleted images are still retained by GitHub for 30 days.  To recover them, see: https://docs.github.com/en/rest/packages#restore-package-version-for-an-organization

on:
  schedule:
    - cron: "30 5 * * MON-FRI" # Every weekday at 05:30 UTC
  workflow_dispatch:

jobs:
  delete-images:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
      - name: List packages
        id: list-packages
        run: echo "image-names=$(gh api --paginate '/orgs/ministryofjustice/packages?package_type=container' -q '.[] | .name' | grep '^hmpps-probation-integration-services/')" | tee -a $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          repositories: hmpps-probation-integration-services
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Delete untagged images older than 1 week
        uses: snok/container-retention-policy@3b0972b2276b171b212f8c4efbca59ebba26eceb # v3.0.1
        with:
          account: ministryofjustice
          image-names: |
            ${{ steps.list-packages.outputs.image-names }}
          cut-off: 1w
          keep-n-most-recent: 1
          tag-selection: untagged
          token: ${{ steps.app-token.outputs.token }}

      - name: Delete all images older than a month that aren't currently deployed
        uses: snok/container-retention-policy@3b0972b2276b171b212f8c4efbca59ebba26eceb # v3.0.1
        with:
          account: ministryofjustice
          image-names: |
            ${{ steps.list-packages.outputs.image-names }}
          image-tags: "!test !test-prev !preprod !preprod-prev !prod !prod-prev !latest"
          cut-off: 30d
          token: ${{ steps.app-token.outputs.token }}

  delete-reports:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: gh-pages
          fetch-depth: 0
      - name: Delete Playwright reports older than 1 week
        run: |
          wget https://raw.githubusercontent.com/newren/git-filter-repo/main/git-filter-repo
          git pull origin gh-pages
          python3 git-filter-repo \
            --path 'tech-docs' \
            --path 'schema-spy-report' \
            --refs gh-pages \
            --force
          git gc --prune=now
          git push origin gh-pages --force
