name: Deploy branch

on:
  workflow_dispatch:
    inputs:
      project:
        description: Project
        type: choice
        required: true
        options:
          - accredited-programmes-and-delius
          - accredited-programmes-and-oasys
          - appointment-reminders-and-delius
          - approved-premises-and-delius
          - approved-premises-and-oasys
          - arns-and-delius
          - assess-for-early-release-and-delius
          - assessment-summary-and-delius
          - breach-notice-and-delius
          - cas2-and-delius
          - cas3-and-delius
          - common-platform-and-delius
          - core-person-record-and-delius
          - court-case-and-delius
          - create-and-vary-a-licence-and-delius
          - custody-key-dates-and-delius
          - domain-events-and-delius
          - dps-and-delius
          - effective-proposal-framework-and-delius
          - esupervision-and-delius
          - external-api-and-delius
          - find-and-refer-and-delius
          - hdc-licences-and-delius
          - hmpps-auth-and-delius
          - ims-and-delius
          - jitbit-and-delius
          - justice-email-and-delius
          - make-recall-decisions-and-delius
          - manage-offences-and-delius
          - manage-pom-cases-and-delius
          - manage-supervision-and-delius
          - monitor-cron-jobs
          - oasys-and-delius
          - offender-events-and-delius
          - opd-and-delius
          - pathfinder-and-delius
          - person-search-index-from-delius
          - pre-sentence-reports-to-delius
          - prison-case-notes-to-probation
          - prison-custody-status-to-delius
          - prison-education-and-delius
          - prison-identifier-and-delius
          - prisoner-profile-and-delius
          - probation-search-and-delius
          - redrive-dead-letter-queues
          - refer-and-monitor-and-delius
          - resettlement-passport-and-delius
          - risk-assessment-scores-to-delius
          - sentence-plan-and-delius
          - soc-and-delius
          - subject-access-requests-and-delius
          - suicide-risk-form-and-delius
          - tier-to-delius
          - unpaid-work-and-delius
          - workforce-allocations-to-delius
          - community-payback-and-delius
          - cosso-and-delius
          # ^ add new projects here
          # GitHub Actions doesn't support dynamic choices, we must add each project here to enable manual deployments
          # See https://github.com/community/community/discussions/11795
      environment:
        description: Environment
        type: choice
        required: true
        options:
          - test
          - preprod
          - prod

jobs:
  build:
    name: Build
    permissions:
      contents: read
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.gradle.outputs.version || steps.docker.outputs.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Check project type
        id: check-project
        run: |
          echo "gradle=$([ -f "projects/$project/build.gradle.kts" ] && echo 'true' || echo 'false')" | tee -a $GITHUB_OUTPUT
          echo "docker=$([ -f "projects/$project/container/Dockerfile" ] && echo 'true' || echo 'false')" | tee -a $GITHUB_OUTPUT
        env:
          project: ${{ inputs.project }}

      - name: Build Gradle project
        id: gradle
        if: steps.check-project.outputs.gradle == 'true'
        uses: ./.github/actions/gradle-build
        with:
          project: ${{ inputs.project }}
          push: true
          force: true
          gradle-cache-role: ${{ secrets.GRADLE_CACHE_S3_ROLE_TO_ASSUME }}
          gradle-cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Build Docker project
        id: docker
        if: steps.check-project.outputs.docker == 'true'
        uses: ./.github/actions/docker-build
        with:
          project: ${{ inputs.project }}
          push: true
          force: true

  deploy:
    name: Deploy
    permissions:
      contents: read
      id-token: write
      packages: write
    uses: ./.github/workflows/deploy.yml
    needs: build
    with:
      projects: '["${{ inputs.project }}"]'
      environment: ${{ inputs.environment }}
      version: ${{ needs.build.outputs.version }}
    secrets: inherit
