name: Documentation

on:
  push:
    paths:
      - .github/workflows/docs.yml
      - 'doc/tech-docs/**'
      - '**/README.md'
  schedule:
    - cron: "30 5 * * MON-FRI" # Every weekday at 05:30 UTC
  workflow_dispatch:
    inputs:
      deploy:
        description: Deploy?
        type: boolean
        default: false

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-gradle
        with:
          cache-role: ${{ secrets.GRADLE_CACHE_S3_ROLE_TO_ASSUME }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Prepare API specs
        run: ./script/prepare-api-specs.sh

      - name: Build
        run: |
          make package
          sudo chown -R "$USER:$USER" docs
        working-directory: doc/tech-docs

      - name: Publish
        if: github.ref_name == 'main' || inputs.deploy
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          folder: doc/tech-docs/docs
          target-folder: tech-docs

  check-links:
    name: Check links
    if: github.ref_name != 'main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Build
        run: make package
        working-directory: doc/tech-docs

      - name: Lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: --verbose --no-progress './**/*.md' './**/*.html' './**/*.erb' --accept 401,403,200,429
          fail: true
