name: Gradle
on:
  push:
    paths:
      - gradlew
      - gradlew.bat
      - gradle/**
      - .github/workflows/gradle.yml

jobs:
  validate-wrapper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
