name: Report

on:
  schedule:
    - cron: "30 7 * * MON" # Every Monday at 07:30 UTC
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  allocation-failures:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/app-insights-to-slack
        with:
          title: Allocations Integration Report
          summary: The following cases failed to allocate in Delius over the last 7 days. Please check and manually correct the cases if required.
          event_name: AllocationFailed
          project_name: workforce-allocations-to-delius
          slack_channel: topic-pi-workforce-allocation
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          app_insights_key: ${{ secrets.APP_INSIGHTS_API_KEY }}
          app_insights_guid: ${{ secrets.APP_INSIGHTS_APPLICATION_GUID }}
          app_insights_subscription_id: ${{ secrets.APP_INSIGHTS_SUBSCRIPTION_ID }}

  assessment-summary-failures:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/app-insights-to-slack
        with:
          title: Assessment Summary Report
          summary: The following cases failed to send an assessment summary to Delius over the last 7 days. Please check and manually correct the cases if possible.
          event_name: AssessmentSummaryFailureReport
          project_name: assessment-summary-and-delius
          slack_channel: topic-pi-assessments
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          app_insights_key: ${{ secrets.APP_INSIGHTS_API_KEY }}
          app_insights_guid: ${{ secrets.APP_INSIGHTS_APPLICATION_GUID }}
          app_insights_subscription_id: ${{ secrets.APP_INSIGHTS_SUBSCRIPTION_ID }}

  cas1-failures:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/app-insights-to-slack
        with:
          title: Approved Premises (CAS1) Integration Report
          summary: The following cases failed to process in Delius over the last 7 days. Please check and manually correct the cases if required.
          event_name: ApprovedPremisesFailureReport
          project_name: approved-premises-and-delius
          slack_channel: topic-pi-cas123
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          app_insights_key: ${{ secrets.APP_INSIGHTS_API_KEY }}
          app_insights_guid: ${{ secrets.APP_INSIGHTS_APPLICATION_GUID }}
          app_insights_subscription_id: ${{ secrets.APP_INSIGHTS_SUBSCRIPTION_ID }}

  refer-and-monitor-failures:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/app-insights-to-slack
        with:
          title: Refer and Monitor Integration Report
          summary: The following number of cases (categorised by reason) failed to process in Delius within the last 7 days. Follow the link for an example of each failure reason.
          event_name: ReferAndMonitorFailureReport
          summarise_count_by: message
          column1_header: Count
          column1_value: EventCount
          column2_header: Reason
          column2_value: message
          project_name: refer-and-monitor-and-delius
          slack_channel: topic-pi-referandmonitor
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          app_insights_key: ${{ secrets.APP_INSIGHTS_API_KEY }}
          app_insights_guid: ${{ secrets.APP_INSIGHTS_APPLICATION_GUID }}
          app_insights_subscription_id: ${{ secrets.APP_INSIGHTS_SUBSCRIPTION_ID }}

  manage-offences-new:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/app-insights-to-slack
        with:
          title: New Offences
          summary: The following offences were newly created in the <https://manage-offences.hmpps.service.justice.gov.uk|Manage Offences service> over the last 7 days.
          event_name: OffenceCodeCreated
          project_name: manage-offences-and-delius
          column1_header: Offence Code
          column1_value: offenceCode
          column2_header: Home Office Code
          column2_value: homeOfficeCode
          slack_channel: topic-probation-offence-codes
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          app_insights_key: ${{ secrets.APP_INSIGHTS_API_KEY }}
          app_insights_guid: ${{ secrets.APP_INSIGHTS_APPLICATION_GUID }}
          app_insights_subscription_id: ${{ secrets.APP_INSIGHTS_SUBSCRIPTION_ID }}

  appointment-reminders-telemetry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: get-timestamp
        run: echo "timestamp=$(date -u +'%Y%m%d%H%M%SZ')" | tee -a "$GITHUB_OUTPUT"
      - uses: ./.github/actions/app-insights-to-s3
        with:
          query: |
            customEvents
            | where timestamp between (startofday(ago(7d)) .. startofday(now()))
            | where cloud_RoleName in ("appointment-reminders-and-delius")
            | where name == "UnpaidWorkAppointmentReminderSent"
            | project
              timestamp,
              eventName=name,
              crn=customDimensions.crn,
              providerCode=customDimensions.providerCode,
              templateIds=customDimensions.templateIds,
              notificationIds=customDimensions.notificationIds,
              upwAppointmentIds=customDimensions.upwAppointmentIds
            | order by timestamp desc
          role-arn: ${{ secrets.ANALYTICAL_PLATFORM_EXPORT_S3_ROLE_TO_ASSUME }}
          bucket-name: ${{ secrets.ANALYTICAL_PLATFORM_EXPORT_S3_BUCKET_NAME }}
          bucket-prefix: /landing/hmpps-probation-integration/data/database_name=azure_monitor_application_insights/table_name=appointment_reminders_and_delius/extraction_timestamp=${{ steps.get-timestamp.outputs.timestamp }}/export.jsonl
          app-insights-key: ${{ secrets.APP_INSIGHTS_API_KEY }}
          app-insights-guid: ${{ secrets.APP_INSIGHTS_APPLICATION_GUID }}
